doctype html
<!--[if IE 10]><html class="ie"> <![endif]-->
<!--[if !IE 10]><!--> <html> <!--<![endif]-->
  head
    meta(charset='utf-8')

    title Hacker News App

    meta(name="author" content="Rodrigo Navarro")

    //- Mobile Devices Viewport Resset
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    //- Styles - SCSS
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    header
      h1 HN Feed
      h4 We <3 Hacker News!

    .container-fluid
      div(class="alert deleted alert-success", role="alert") Was successfully deleted your post
      div(class="alert error alert-danger", role="alert") Ops! something went wrong, try again
      //- Posts container
      .post
        //- iterate through posts
        each post in posts
          .row
            .col-md-9.col-sm-12
              | #{post.title}
              span.author - #{post.author} -
            .col-md-2.col-sm-12 #{post.created}
            .col-md-1
              span.trash(data-id=post._id)
                include svg/trash.svg

    //- Scripts
    script(src='/js/vendor.js')
    script(src='/js/app.js')
